<div class="manifest">
	<h1>Example breadcrumb app</h1>
	<div>The problem that is tackled by this demo is how to create a 'Breadcrumb', in the simplest way. </div>
	<div>Here is an example of one simple and one advance breadcrumb. Trough the code, you will see comment blocks explaining how
		it's done.
	</div>
	<div>Before diving in to the code please play around with the links above and see how both breadcrumbs work</div>
	<div class="card">
		<div>
			<a href="https://github.com/Xapuu"
			   rel="me"
			   class="url">
				<svg aria-hidden="true"
				     class="svg-icon iconGitHub"
				     width="18"
				     height="18"
				     viewBox="0 0 18 18">
					<path d="M9 1a8 8 0 0 0-2.53 15.59c.4.07.55-.17.55-.38l-.01-1.49c-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82a7.42 7.42 0 0 1 4 0c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48l-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 9 1z"></path>
				</svg>
			</a>
		</div>
		<div class="stack-overflow">
			<a href="https://stackoverflow.com/users/7177558/%D0%A5%D1%80%D0%B8%D1%81%D1%82%D0%B8%D1%8F%D0%BD-%D0%A5%D1%80%D0%B8%D1%81%D1%82%D0%BE%D0%B2"
		
			   rel="me"
			   class="url">
				<svg xmlns="http://www.w3.org/2000/svg"
				     viewBox="0 0 120 120">
					<style>
						.st0 {
							fill: #bcbbbb
						}

						.st1 {
							fill: #f48023
						}
					</style>
					<path class="st0"
					      d="M84.4 93.8V70.6h7.7v30.9H22.6V70.6h7.7v23.2z" />
					<path class="st1"
					      d="M38.8 68.4l37.8 7.9 1.6-7.6-37.8-7.9-1.6 7.6zm5-18l35 16.3 3.2-7-35-16.4-3.2 7.1zm9.7-17.2l29.7 24.7 4.9-5.9-29.7-24.7-4.9 5.9zm19.2-18.3l-6.2 4.6 23 31 6.2-4.6-23-31zM38 86h38.6v-7.7H38V86z"
					/>
				</svg>
			</a>
		</div>
		by Xapuu
	</div>
</div>